/* variable des couleur */
:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#6f6f6f;
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/* couleur appliquer */


h1,h2 {
    color: var(--texte-titre);
}

a {
    color: var(--texte-lien);
}

p {
    color: var(--texte-courant);
}

span {
    color: var(--objet-permanent);
}




/* visuelle appliquer */


body {
    text-align: center;
    background-color: var(--fond-principal);
    color: var(--texte-courant);
}

.photo {
    margin: 1px 0px 10px 0px;
    width: 250px;
    height: 150px;
    border-radius: 50px;
    border: solid 4px;
    color: var(--font-contours);
    object-fit: cover;
}

.premier_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titre {
    margin: 60px 0px 20px 0px;
}

.logo {
    width: 100px;
    border-radius: 100px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.bulle {
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 1% 10% 5% 10%;
    margin: 5% 20% 5% 20%;
    border-radius: 15% 15% 15% 15%;
    border: solid;
    color:var(--font-contours);
}

.button {
    border: solid;
    border-radius: 3% 30% 3% 30%;
    padding: 2% 2% 2% 2%;
}




/* interaction visuelle */


.button:hover {
    background-color:var(--font-contours);
}

.logo:hover {
    opacity: 50%;
}

a:hover {
    color: var(--objet-survol);
}

a:active {
    color: var(--objet-clic);
}