/* ==== PALETTE DES COULEURS ==== */


:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#6f6f6f;
    
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/* ==== PALETTE DES TEXTES ==== */


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
    --police-titre: Georgia, "Times New Roman", serif;
    --police-texte: "Comic Sans MS", cursive, sans-serif;
    --taille-titre-principal: 2rem;      /* h1 */
    --taille-sous-titre: 1.5rem;         /* h2 */
    --taille-texte: 1rem;                /* p */
    --taille-liens:1rem;                 /* a */
    --gras-titre: 700;
    --gras-texte: 400;
}

@media(max-width:768px){
    :root {
    --taille-titre-principal: 1.25rem;  /* h1 */
    --taille-sous-titre: 1rem;         /* h2 */
    --taille-texte: 0.75rem;              /* p */
    --taille-liens: 0.75rem;                 /* a */
}}


/* style titre */

h1 {
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-principal);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
}

h2 {
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-sous-titre);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
}

/* style texte */
p, span {
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.6;
}

/* style lien */
a {
    font-style: oblique;
    font-weight: 500;
    text-decoration: underline;
    font-size: var(--taille-liens);
    color: var(--texte-lien);
}


/* == hover == */

a:hover {
    color: var(--objet-survol);
}


/* == active == */

a:active {
    color: var(--objet-clic);
}




/* ==== PALETTE DES BULLE ==== */


.bulle_secondaire {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 3px;
    margin: 2% 28% 2% 28%;
    text-align: center;
    border-radius: 75px;
}

@media(max-width:768px){
    .bulle_secondaire {
        padding: 3px;
        margin: 1% 2% 1% 2%;
    }
}

.bulle_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 3px;
    margin: 4% 8% 4% 8%;
    border-radius: 100px;
    transition: 1s;
}

@media(max-width:915px){
    .bulle_info {
        padding: 3px;
        margin: 2% 4% 2% 4%;
    }   
}

/* == hover == */

.bulle_info:hover {
    border: solid var(--objet-survol);
    padding: 6px;
    margin: 4% 10% 4% 10%;
    transition: 1s;
}

@media(max-width:768px){
    .bulle_info:hover {
        color: var(--objet-survol);
        margin: 2% 8% 2% 8%;
        transition: 1s;
    }
}


/* == active == */

.bulle_info:active {
    border: solid var(--objet-clic);
    transition: 1s;
}

@media(max-width:768px){
    .bulle_info:active {
        color: var(--objet-survol);
        margin: 2% 8% 2% 8%;
        transition: 1s;
    }
}




/* ==== PALETTE DES img ==== */


img {
    width: 41px;
    height: 41px;
    transition: 0.5s;
}

@media(max-width:768px){
    img {
        width: 21px;
        height: 21px;
    }
}


/* == hover == */

img:hover {
    width: 46px;
    height: 46px;
    opacity: 50%;
    transition: 0.5s;
}

@media(max-width:768px){
    img:hover {
        width: 24px;
        height: 24px;
    }
}




/* ==== CSS body ==== */


body {
    background-color: var(--fond-principal);
    text-align: center;
}




/* ==== VISEULLE APLIQUER ==== */


body {
    background-color: var(--fond-principal);
}

.photo {
    margin: 1% 0px 1% 0px;
    width: 200px;
    height: 100px;
    border-radius: 25px;
    border: solid 5px;
    color: var(--font-contours);
    object-fit: cover;
    object-position: 0px -35px;
}

@media(max-width:768px){
    .photo {
        margin: 1% 0px 1% 0px;
        width: 100px;
        height: 50px;
        border-radius: 25px;
        border: solid 5px;
        color: var(--font-contours);
        object-fit: cover;
        object-position: 0px -20px;
    }
    .photo:hover {
        margin: 1% 0px 1% 0px;
        width: 100px;
        height: 50px;
        border-radius: 25px;
        border: solid 5px;
        color: var(--font-contours);
        object-fit: cover;
        object-position: 0px -20px;
    }
}

.premier_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 0px 1% 0px;
}

.section_titre {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 5px 0px;
}